#user-profile {
    color: white;
}

.row-margin {
    margin-top: 30px;
}

#note-title-text {
    font-size: 2em;
}

.center {
    text-align: center;
}

.rating-row {
    text-align: center;
}

.checked {
    color: orange;
}

.search-bar {
    margin-top: 50px;
}