body {
    padding-bottom: 50px;
}

#user-profile {
    color: white;
}

.row-margin {
    margin-top: 20px;
}

#note-title-text {
    font-size: 2em;
}

.center {
    display: flex;
    justify-content: center;
}

#pdf-object {
    width: 100%;
    height: 800px;
}

#upload-file {
    text-align: center;
    margin: auto;
}

.rating-row {
    text-align: center;
}

.checked {
    color: orange;
}

.search-bar {
    margin-top: 50px;
}

.stream {
    display: flex;
    padding: 10px;
}

.note-item {
    width: 8rem;
    margin: 10px;
}

.circle {
    margin-top: 30px;
    border-radius: 50%;
    text-align: center;
    height: 100px;
    width: 100px;
    line-height: 100px;
    background: #007bff;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card {
    overflow: hidden;
}

.card-body {
    display: inline-block;
    text-align: center;
}

.card-title {
    word-wrap: break-word;
}

.name {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.name:hover{
    text-decoration: none;
}

i {
    color: white;
}

.add {
    background-color: orange;
    height: 60px;
    width: 60px;
    line-height: 60px;
    position: fixed;
    bottom: 40px;
    right: 40px;
}

.add:hover {
    opacity: 1;
    transform: scale(1.5, 1.5);
}


.title {
    margin: 25px;
}

#subscribe-button {
    margin-bottom: 20px;
}

